[submodule "eltopo"]
	path = eltopo
	url = https://github.com/leokollersacht/eltopo.git
[submodule "meshfix"]
	path = meshfix
	url = https://github.com/alecjacobson/meshfix.git
[submodule "collisiondetection"]
	path = collisiondetection
	url = https://github.com/evouga/collisiondetection.git
