*.DS_Store~
*.DS_Store
*.aux
*.bbl
*.blg
*.log
TeX/nested.pdf
*.gz
*.un~
*.cache.mat
*.cache.*.mat
*.mexmaci64
*.aux*.make
*.fls
*.dvi
*.d
TeX/multigrid-notes.txt
TeX/nested.fdb_latexmk
TeX/nested.fls
*.mexa64
*~
build*
*.swp
*.swo
